#juno_status .kernel_idle_icon {
 color: green;
}

#juno_status .kernel_busy_icon {
 color: red;
}

#notebook-container {
  padding-left: 80px;
  position: relative;
}

.juno-sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
}
